API_ID="12345"
API_HASH="abcdefghijklmnop"
TOKEN="abcdefg"
OWNER_ID = "1542508017"
SUDO_USERS="1542508017"    #separated by space
AUTH_GROUP_ID="-1001818044278"
RESTART_NOTIFY_ID="1542508017"
AUTO_SET_BOT_CMDS="True"
RUNNING_TASK_LIMIT="2"
FINISHED_PROGRESS_STR='■'
UNFINISHED_PROGRESS_STR='□'
UPDATE_PACKAGES="False"
UPSTREAM_REPO="https://github.com/sahilgit55/VideoFlux2_Beta"
UPSTREAM_BRANCH="master"
TIMEZONE="Asia/Kolkata"
SAVE_TO_DATABASE="False"
MONGODB_URI="mongodb+srv://username:password@abcd.efgh.mongodb.net/?retryWrites=true&w=majority"
Use_Session_String="False"
Session_String="abcdefg"